body{
    background-color: #01C65D;
}

@font-face {
    font-family: "Druk";
    src: url(../assets/Druk\ Wide\ Bold.ttf);
}
@font-face {
    font-family: "Migra-Extrabold";
    src: url(../assets/Migra-Extrabold.otf);
}
@font-face {
    font-family: "Migra-Extralight";
    src: url(../assets/Migra-Extralight.otf);
}







.container {
    width: 100%;
    height: 100%;
    font-family: "Migra-Extralight";
    src: url(../assets/Migra-Extralight.otf);   
}

.header {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    gap: 20px;
    padding: 0px;
  
}
.header-title {
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    width: 50%;
    font-family: "Druk";
    src: url(../assets/Druk\ Wide\ Bold.ttf);
    font-size: 8vh;
    text-align: right;
    padding-right: 0px;
    color: #000000;
}
.header-year{
    font-size: 6vh;
}
.header-cover{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
  
}
.header-cover img{
    width: 80%;
}

.group-photo {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0px;  
}
.group-photo img {
    width: 100%;
    z-index: 3;  
}

.about-title{
    font-size: 50px;
    color: #000000;
    padding: 20px;
    font-family: "Migra-Extrabold";
    src: url(../assets/Migra-Extrabold.otf);
    z-index: 2;
}
.about {
    display: flex;
    width: 100%;
    text-align: left;
    font-size: 18px;
    color: #ffffff;
    gap: 20px;
    padding-left: 0px;

    z-index: 2;
}
.about-left {
    width: 100%;
    z-index: 2;
}

.about-right {
    width: 100%;
    
}
.about-text-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
}
.about2 {
    display: flex;
    width: 100%;
    text-align: left;
    font-size: 20px;
    color: #ffffff;
    gap: 20px;
    padding-bottom: 30px;
    z-index: 2;
}

.left{
    width: 60%;
}

.members-photo{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.members-photo img{
    width: 100%;
    z-index: 2;
}

.right{
    width: 70%;
}
 
.lyrics-title{
    font-size: 5 0px;
    color: #000000;
    font-family: "Migra-Extrabold";
    src: url(../assets/Migra-Extrabold.otf);
    z-index: 2;

}

.text-l {
    width: 100%;
    font-family: "Migra-Extralight";
    src: url(../assets/Migra-Extralight.otf);
    z-index: 2;
}

.about3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-3{
    width: 50%; 
}

.right-3{
    width: 50%; 
}
.schedule{
    display: flex;
    width: 100%;
    
}


.end-promo-photo {
    display: flex;
    width: 100%;
    align-items: center;
      
}
.end-promo-photo img {
    width: 100%;
    z-index: 3;  
}

@media only screen and (max-width: 700px) {
    body {
        background-color: #01C65D;
    }
    .header{
        flex-direction: column;
    }
    .header-title{
        width: 100%;
        box-sizing: border-box;
        height: 50%;


    }
    .about {
        flex-direction: column;
        
    }
      .about2 {
        flex-direction: column;
        
    }
    .lyrics-title{
        height: 3vh;
    }
}
